<app-search-container 
	[breadcrumb]="'Clients'" 
	(doSearch)="doSearch($event)"
	[placeholder]="'Search Clients'"
	(doSorting)="doSorting($event)">
</app-search-container>

<div class="container">
	<div class="text-center text-no-match-found" *ngIf="(clients | searchFilter : search : 'Name').length === 0 && isClientsReceivedByServer">
		<h3>{{textNoMatchFound}}</h3>
	</div>
</div>

<div class="container">
    <div class="row d-flex flex-row">
        <div class="card card-1" *ngFor="let client of clients | searchFilter:search:'Name'; let rowIndex = index" (click)="clientDetail(client.ClientId)">
			<div class="gallery-card">
				<img 
					class="card-img-top card-image align-self-center" 
					[src]="client.Logo" 
					alt="image">
			</div>
			<p class="img-name text-center">{{ client.Name }}</p>
        </div> 
    </div>
</div>
