<app-search-container 
    [breadcrumb]="'Clients > Apps'" 
    (doSearch)="doSearch($event)"
    [placeholder]="'Search Apps'"
    (doSorting)="doSorting($event)">
</app-search-container>
        
<div class="container">
    <div class="text-center text-no-match-found" 
        *ngIf="(appsAssignedToClient | searchFilter : search : 'Name').length === 0 && isAppsReceivedByServer">
        <h3>{{textNoMatchFound}}</h3>
    </div>
</div>

<div class="container">
    <div class="row d-flex flex-row">
        <div class="card card-1" *ngFor="let appAssignedToClient of appsAssignedToClient | searchFilter:search:'Name'; let rowIndex = index">
            <a href="{{appAssignedToClient.URL}}" target="_blank" class="img-anchor">
                <div class="gallery-card">
                    <img 
                        class="card-img-top card-image align-self-center" 
                        [src]="appAssignedToClient.Logo" 
                        alt="image">
                </div>
                <p class="img-name text-center">{{ appAssignedToClient.Name }}</p>
            </a>
        </div> 
    </div>
</div>
        