<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-align">
                    <li class="breadcrumb-item active" aria-current="page">Clients</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-6">
            <input type="search" id="search" value="" class="form-control" placeholder="Search Clients...">
        </div>
    </div>
</div>

<div class="box">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngFor="let client of clients; let rowIndex = index">
                <div class="box-part text-center" (click)="clientDetail(client.Id)">
                    <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
                    <div class="title">
                        <h4>{{ client.Name }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
