<app-search-container 
	[breadcrumb]="'Clients'" 
	(doSearchChange)="doSearchChange($event)"
	[placeholder]="'Search Clients'">
</app-search-container>

<div class="container">
	<div class="text-center text-no-match-found" *ngIf="(clients | searchFilter : search : 'Name').length === 0 && isClientsReceivedByServer">
		<h3>{{textNoMatchFound}}</h3>
	</div>
</div>

<div class="container gallery-container">
	<div class="row">
		<div class="col-sm-3" *ngFor="let client of clients | searchFilter:search:'Name'; let rowIndex = index">
			<div class="card shadow gallery-card cursor-pointer" (click)="clientDetail(client.Id)">
				<a class="align-self-center">
					<img class="card-img-top card-image" [src]="client.Logo" alt="image">
				</a>
			</div>
		</div>
	</div>
</div>
