<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-align">
                    <li class="breadcrumb-item active" aria-current="page">Productivity Apps</li>
                </ol>
            </nav>
        </div>
        <div class="col-sm-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                </div>
                <input type="text"id="search" value="" class="form-control" [(ngModel)]="search" placeholder="Search Productivity Apps ...">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="text-center text-no-match-found" *ngIf="(productivityApps | searchFilter : search : 'Name').length === 0 && isAppsReceivedByServer">
        <h3>{{textNoMatchFound}}</h3>
    </div>
</div>

<div class="box">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12" *ngFor="let productivityApp of productivityApps | searchFilter:search:'Name'; let rowIndex = index">
                <a href="{{productivityApp.URL}}" target="_blank">
                    <img [src]="productivityApp.Logo" class="img-fluid img-hw-responsive">
                </a>
            </div>
        </div>
    </div>
</div>
